*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
html{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #7bdfd5, #26cdde, #00b8ea, #009ff1, #1282eb);
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    font-size: 18px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    

}
.profile span{
    padding-right:10px;
}
.arrow-open,.arrow-close{
    font-size: 20px;
    position: absolute;
    transition: opacity .3s , transform .3s;

}
.arrow-close{
    opacity: 0;
    transition: opacity .3s ,transform .3s;
}
.drop-down{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    transform: scale(0.1);
    transform-origin: 50% -22%;
    transition: opacity .3s ,transform .3s;
    opacity: 0;
    
}
.drop-items{
    cursor: pointer;

}
.drop-items span{
    transition: 0.2s ease;
}
.drop-items span:hover{
    color: #351BCB;
}
i{
    color:#1C0B7C;
}
.drop-menu{
    display: grid;
    row-gap: 15px;
    font-size: 18px;
        
}

.show-dropmenu .arrow-open{
    opacity: 0;
    transform: rotate(180deg);

}
.show-dropmenu .arrow-close{
    opacity: 1;
    transform: rotate(180deg);
}
.show-dropmenu .drop-down{
    opacity: 1;
    transform: scale(1);
}